# Shadow-cljs
.shadow-cljs/
resources/public/js/compiled/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Clojure
.cpcache/
.lein-repl-history
target/
pom.xml
checkouts/

# OS
.DS_Store
Thumbs.db
