{:source-paths ["src"]
 :deps true
 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "js/compiled"
                :modules {:main {:init-fn mamlaka_comfort.app/init}}
                :devtools {:after-load mamlaka_comfort.app/reload}
                :compiler-options {:optimizations :none
                                  :source-map true}}}}
