@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-mf-blue text-white px-6 py-3 rounded font-bold hover:bg-opacity-90 transition-all duration-200;
  }
  .btn-secondary {
    @apply bg-mf-red text-white px-6 py-3 rounded font-bold hover:bg-opacity-90 transition-all duration-200;
  }
  .card-shadow {
    @apply border border-gray-200 shadow-sm hover:shadow-md transition-shadow duration-200;
  }
}
